# Python
__pycache__/
*.py[cod]
*$py.class
venv/
instance/

# Node (in case there are any node modules)
node_modules/

# Environment
.env
.env.*

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Docker
Dockerfile
.dockerignore 