.reviewCard {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    margin-top: 10px;
    height: 75px;

    border-radius: 12px;
    border: 2px solid #d9d9d9;
    background: #f7f7f7;
}

.reviewCard:hover {
    cursor: pointer;
}
