.container {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.buttonContainer {
    /* TODO: decide where I want these to be on the page */
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.buttonContainer button:disabled {
    cursor: default;
    background-color: #d9d9d9;
}

.editor {
    max-width: 650px;
    min-width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}
