.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 28px;
    margin-top: auto; /* put footer at the bottom */
    font-size: 13px;
    color: #777;
}

.link {
    cursor: pointer;
}