.goalCard {
    display: flex;
    gap: 16px;
    max-width: 445px;
    padding: 12px 16px;
    border-radius: 12px;
    align-items: center;
}

.completed {
    background: #ddf3fe;
}

.goalCard h4 {
    font-size: 16px;
    font-weight: 500;
}

.goalCard p {
    font-size: 14px;
    color: #777;
}

.checkbox {
    width: 35px;
    height: 35px;
    background: #e5e5e5;
    border-radius: 4px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
