.goalsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 25px;
}

.containerRow {
    display: flex;
    align-items: center;
    gap: 34px;
}

.goalRightColumn {
    /* TODO: how do I keep the button from expanding to the size of the flex box? */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}