.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 610px;
}

.optionsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

.optionsContainer p {
    font-weight: bold;
}

.optionsContainer .warningText {
    font-weight: normal;
    color: red;
    font-size: 14px;
}

.optionsContainer .suggestedRange {
    font-weight: normal;
    font-size: 14px;
}

.modalContent input {
    border-radius: 8px;
    border: 2px solid #d9d9d9;
    font-size: 16px;
    height: 32px;
    padding: 0 8px;
    width: 130px;
}

.radioButton {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    user-select: none;
}

.radioButton input[type="radio"] {
    display: none;
}

.radioButton input[type="radio"]:checked + .radioButton,
.radioButton:has(input[type="radio"]:checked) {
    background-color: #3c4dff;
    color: white;
    border-color: #3c4dff;
}

/* TODO: would be nice to have hover styling */

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}
