.goalsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    gap: 38px;
}

.goalGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.goalLeftColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.goalRightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    /* TODO: UX design: exactly how should this align with the daily goals? */
    margin-top: 32px;
}