.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 12px 24px;
    border-bottom: 1px solid #E5E5E5;
    background: #F7F7F7;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

.header h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    color: #3C4DFF;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.stats h3 {
    color: #171717;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.statItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.profileLink:hover {
    color: #3C4DFF;
    cursor: pointer;
}

.profileContainer {
    position: relative;
    display: flex;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    z-index: 1;

    width: 100%;
    margin-top: 4px;
    cursor: pointer;
    transition: #e5e5e5 0.3s;
}

.dropdownItem {
    padding: 10px 16px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #000000;
}

.dropdownItem:hover {
    background: #DDF3FE;
    color: #3C4DFF;
}

.button {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    border-radius: 4px;
    background: #3C4DFF;
    padding: 4px 14px;
    border: none;
}

.button:hover {
    background-color: #2636e8;
}

