.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 12px 24px;
    background-color: whitesmoke;
    border-bottom: 1px solid darkgrey;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

.header h1 { 
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    color: #171717;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center; 
}

.stats h3 {
    color: #171717;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.statItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}