.title {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}

.textBlock {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}