.advertisementContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}

.title {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.taglineText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.tagline {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
}

.subtagline {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}  