.module {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.module.open:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.module.closed {
    cursor: default;
    pointer-events: none;
}