.reviewContainer {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.conceptReviewContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}