.sidebar {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100vh;
    width: 180px;
    position: sticky;

    /* TODO remove with color pallete */
    background-color: #F7F7F7;
    border: 1px solid #E5E5E5;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    color: #000000;
    font-weight: 700;
    transition: #e5e5e5 0.3s;
}

.menuItem:hover {
    background-color: #e5e5e5;
}

.active {
    background: #DDF3FE;
    color: #3C4DFF;
}