<div class="guideContainer">
  <h1>Code Challenge Title</h1>
  <p>
    <strong>LeetCode Link:</strong>
    <a
      href="https://leetcode.com/problems/contains-duplicate/"
      target="_blank"
      rel="noopener"
      >https://leetcode.com/problems/contains-duplicate/
    </a>
  </p>
  <p><strong>Difficulty:</strong> difficulty</p>
  <p><strong>Description</strong></p>
  <p>
    Given an integer array nums, return true if any value appears at least twice
    in the array, and return false if every element is distinct.
  </p>
  <p class="highlight">Important term definition</p>

  <p><strong>Test Cases</strong></p>
  <p>
    Input: Basic <br />
    Output: answer
  </p>
  <p>
    Input: more complex pattern<br />
    Output: answer
  </p>

  <p>
    <strong>Constraints</strong>
  </p>
  <ul>
    <li>1 &lt;= nums.length &lt;= 10^5</li>
    <li>-10^9 &lt;= nums[i] &lt;= 10^9</li>
  </ul>
</div>
