<div class="guideContainer">
    <h1>Code Challenge Title</h1>
    <p>
        <strong>LeetCode Link:</strong>
        <a href="https://leetcode.com/problems/contains-duplicate/" target="_blank"
            >https://leetcode.com/problems/contains-duplicate/
        </a>
    </p>
    <p><strong>Difficulty:</strong> difficulty</p>
    <p><strong>Description</strong></p>
    <p>
        Given an integer array nums, return true if any value appears at least twice
        in the array, and return false if every element is distinct.
    </p>
    <p class="highlight">Important term definition</p>

    <p><strong>Test Cases</strong></p>
    <p>
        Input: Basic <br />
        Output: answer
    </p>
    <p>
        Input: more complex pattern<br />
        Output: answer
    </p>
    <p>
        Input: edge case 1 <br />
        Output: answer
    </p>
    <p>
        Input: edge case 2 (optional) <br />
        Output: answer
    </p>

    <p>
        <strong>Constraints</strong>
        <ul>
            <li>1 <= nums.length <= 10^5</li>
            <li>-10^9 <= nums[i] <= 10^9</li>
        </ul>
    </p>
    <!-- TODO: this repetative text should be hardcoded? -->
    <p>
        To become familiar with standard technical interview problem editor tools, we recommend you solve this problem on LeetCode. You can find the problem by following the link provided above.
    </p>
</div>
  