<div class="guideContainer">
  <h1>Recognition Guide: Unit</h1>
  <section>
    <strong>Signs you may want to use [UNIT]</strong>
    <!-- OPTION 1 -->
    <ol>
      <li>point 1</li>
      <li>point 2</li>
      <li>point 3</li>
    </ol>
    <!-- OPTION 2 -->
    <p>
      <strong>Strategy 1</strong>
    </p>
    <ul>
      <li>point 1</li>
      <li>point 2</li>
      <li>point 3</li>
    </ul>
    <p>
      <strong>Strategy 2</strong>
    </p>
    <ul>
      <li>point 1</li>
      <li>point 2</li>
      <li>point 3</li>
    </ul>
    <p>
      <strong>Strategy 3</strong>
    </p>
    <ul>
      <li>point 1</li>
      <li>point 2</li>
      <li>point 3</li>
    </ul>
  </section>

  <section>
    <strong><i>Do not use if:</i></strong>
    <ol>
      <li>case 1</li>
      <li>case 2</li>
      <li>case 3</li>
    </ol>
  </section>
  <section>
    <h2>Questions to ask in an interview</h2>
    <ol>
      <li>
        Question 1
        <ul>
          <li>Relevance explanation</li>
        </ul>
      </li>
      <li>
        Question 2
        <ul>
          <li>Relevance explanation</li>
        </ul>
      </li>
      <li>
        Question 3
        <ul>
          <li>Relevance explanation</li>
        </ul>
      </li>
      <li>
        Question 4
        <ul>
          <li>Relevance explanation</li>
        </ul>
      </li>
    </ol>
  </section>
</div>
