<div class="guideContainer">
  <h1>Solution Walkthrough: exercise title</h1>

  <section>
    <h2>Understand the problem</h2>
    <p><strong>Clarifying Questions</strong></p>
    <dl>
      <dt>Question 1 (optimization, big O)</dt>
      <dd>
        Answer.
        <p class="boldPoint">Highlight meaning/recognition pattern.</p>
      </dd>
    </dl>
    <dl>
      <dt>Question 2 (edge case)</dt>
      <dd>Answer.</dd>
    </dl>
    <dl>
      <dt>Question 3 (edge case 2 -- optional)</dt>
      <dd>Answer.</dd>
    </dl>
  </section>

  <section>
    <p><strong>Test Cases</strong></p>
    <!-- same as in challenge -->
    <p>
      Input: Basic <br />
      Output: answer
    </p>
    <p>
      Input: more complex pattern<br />
      Output: answer
    </p>
    <p>
      Input: edge case 1 <br />
      Output: answer
    </p>
    <p>
      Input: edge case 2 (optional) <br />
      Output: answer
    </p>
  </section>

  <section>
    <h2>Match</h2>
    <p><strong>Common solutions to [PATTERN] problems:</strong></p>
    <ol>
      <li>Option 1 + brief assessment</li>
      <li>Option 2 + brief assessment</li>
      <li>Option 3 + brief assessment</li>
    </ol>
  </section>

  <section>
    <h2>Plan</h2>
    <p>Brief overview</p>
    <ol role="list" aria-label="Solution steps">
      <li>Step 1</li>
      <li>
        Step 2
        <ol>
          <li>Nested step</li>
          <li>Nested step</li>
          <li>Nested step</li>
        </ol>
      </li>
      <li>RETURN</li>
    </ol>
    <p>Note on an alternative solution if applicable.</p>
  </section>

  <section>
    <h2>Complexity Analysis</h2>
    <p><strong>Time Complexity:</strong></p>
    <p>Time complexity</p>
    <p><strong>Space Complexity:</strong></p>
    <p>Space complexity</p>
  </section>

  <h2>Code Solution</h2>
</div>
